@use '../../../globals.scss';

.gallery-item {
  background-color: white;
  border-radius: 12px;
  box-shadow: 8px 8px 12px 0px rgb(0 0 0 / 25%);
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  
  figcaption {
    font-size: 16px;
    text-align: center;
    max-width: 350px;
  }

  img {
    object-fit: contain;
  }

  .tech-chips {
    margin: 10px 0;
  }
}

.gallery-item-popup {
  margin: 0 auto;
  padding: 16px;
  width: max-content;

  h2 {
    color: globals.$primary-color;
    margin: 4px 0 8px;
    text-align: center;
  }

  .image-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      background-color: globals.$primary-color;
      border-radius: 18px;
      height: 36px;
      width: 36px;
      color: globals.$secondary-color;
      i {
        height: 24px;
        width: 24px;
      }
    }
    .image-wrapper {
      --index: 0;
      --width: 524px;
      width: var(--width);
      height: 500px;
      overflow: hidden;
      display: flex;
      img {
        margin: 0 12px;
        object-fit: contain;
        transition: transform 0.5s;
        transform: translate(calc(var(--index) * var(--width) * -1), 0);
      }
    }
  }

  p {
    margin-bottom: 16px;
    margin-top: 8px;
    text-align: center;
    a {
      align-items: center;
      background-color: globals.$primary-color;
      border-radius: 32px;
      color: globals.$secondary-color;
      display: inline-flex;
      text-decoration: none;
      font-size: 24px;
      padding: 8px 24px;
    }
  }
}