@use "../../../globals.scss";

.gallery-item {
  background-color: white;
  border-radius: 12px;
  box-shadow: 8px 8px 12px 0px rgb(0 0 0 / 25%);
  margin: 8px;
  padding: 24px;

  &.clickable {
    cursor: pointer;
  }

  figure {
    // --height: 200px;
    // --width: 250px;
    margin: 0;
    figcaption {
      color: globals.$primary-color;
      font-size: 20px;
      max-width: 350px;
      margin-bottom: 12px;
      text-align: center;
    }

    img {
      height: var(--card-image-height);
      width: var(--card-image-width);
      object-fit: contain;
    }
  }

  .figure-placeholder {
    width: var(--card-image-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .placeholder {
      color: globals.$primary-color;
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1
    }
    .placeholder-subtitle {
      flex: 0
    }
  }

  .tech-chips {
    margin: 10px 0;
  }
}
