.main-page {
  .page-1 {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    text-align: center;
    max-width: 1100px;
    box-sizing: border-box;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    .card-content {
      display: flex;
      align-items: center;
    }
  }

  .page-2 {
    margin: 100px auto;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .main-page {
    .page-1 {
      margin: 100px 20px;
      .card-content {
        flex-direction: column;
      }
    }
  }
}
