@use '../../../../globals.scss';

.gallery-item-popup {
  --has-arrows: 1;
  --expected-img-width: 500px;
  --max-img-width: calc(100vw - 80px - (var(--has-arrows) * 80px));
  --img-width: calc(min(var(--expected-img-width), var(--max-img-width)));
  --img-margin: 24px;
  --wrapper-width: calc(var(--img-width) + var(--img-margin));
  margin: 0 auto;
  max-height: 90vh;
  overflow-y: auto;
  padding: 16px;
  position: relative;
  width: max-content;

  .close-button {
    background-color: transparent;
    border-radius: 1000px;
    color: globals.$primary-color;
    position: absolute;
    top: 16px;
    right: 16px;
    // width: 32px;
    // height: 32px;
    border: 0;
    padding: 0;
    margin: 0;
    i {
      font-size: 32px;
    }
  }

  h2 {
    color: globals.$primary-color;
    margin: 4px 0 8px;
    text-align: center;
  }

  .image-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      background-color: globals.$primary-color;
      border-radius: 18px;
      height: 36px;
      width: 36px;
      color: globals.$secondary-color;

      i {
        height: 24px;
        width: 24px;
      }
    }

    .image-wrapper {
      --index: 0;

      width: var(--wrapper-width);
      // height: 500px;
      // max-height: 70vh;
      overflow: hidden;
      display: flex;

      .image-fixed-size {

        margin: 0 12px;
        transition: transform 0.5s;
        transform: translate(calc(var(--index) * var(--wrapper-width) * -1), 0);
        display: flex;
        align-items: center;
        img {
          object-fit: contain;
          width: var(--img-width);
          height: min-content;
          max-height: max(200px, calc(100vh - 320px));
        }
      }
    }
  }

  p {
    margin: 8px auto 16px;
    width: var(--img-width);
    text-align: center;

    a {
      align-items: center;
      background-color: globals.$primary-color;
      border-radius: 32px;
      color: globals.$secondary-color;
      display: inline-flex;
      text-decoration: none;
      font-size: 24px;
      padding: 8px 24px;
    }
  }
}