.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  width: min-content;
}

@media screen and ( min-width: 800px ) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and ( min-width: 1200px ) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
