$photo-standard: 300;
$photo-width: $photo-standard * 1px;

@function normalize($val) {
  @return calc($photo-standard * $val / 300);
}

.animate-vars.animate-vars.animate-vars {
  transform:  translate(normalize(var(--tx, 0)), normalize(var(--ty, 0))) 
              rotate(var(--rot, 0))
              scale(var(--scale, 1));
}

.photo-wrapper {
  display: inline-block;
  height: calc($photo-width * 4 / 3);
  width: $photo-width;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-shadow: 16px 16px 8px rgba(0,0,0,0.25);
  flex: 0 0 $photo-width;
  &:hover {
    #bw-wrapper {
      --tx: 0px;
      --ty: 0px;
      --rot: 0deg;
      --scale: 1;
      // transform: $default-transform;
      border-width: 0;
    }
    #bw-filter {
      --tx: 0px;
      --ty: 0px;
      --rot: 0deg;
      --scale: 1;
      // transform: $default-transform;
      filter: grayscale(0);
    }
    #red-wrapper {
      --tx: 120px;
      --ty: -160px;
      --rot: 8.53deg;
      --scale: 1;
      // transform: $default-red-wrapper-transform;
      border-width: 0;
    }
    #red-filter {
      --tx: -95px;
      --ty: 176px;
      --rot: -8.53deg;
      --scale: 1;
      // transform: $default-red-filter-transform;
    }
    #red-placeholder {
      background-color: #ff000000
    }
    #teal-wrapper {
      --tx: 63px;
      --ty: 220px;
      --rot: 8.53deg;
      --scale: 1;
      // transform: $default-teal-wrapper-transform;
      border-width: 0;
    }
    #teal-filter {
      --tx: -95px;
      --ty: -208px;
      --rot: -8.53deg;
      --scale: 1;
      // transform: $default-teal-filter-transform;
    }
    #teal-placeholder {
      background-color: #00ffff00
    }
  }
}

#original-photo {
  position: relative;
  left: 0;
  top: 0;
  width: $photo-width;
  height: calc($photo-width * 4 / 3);
}

.img-filter-wrapper {
  border-color: #CECECE;
  border-style: solid;
  // border: 8px solid #CECECE;
  // animation-name: img-fiter-keyframes;
  height:100%;
  width:100%;
  box-sizing: border-box;
}

.img-filter {
  width: $photo-width;
  height: calc($photo-width * 4 / 3);
}

.animated-props {
  animation-iteration-count: infinite;
  animation-duration: 6s;
  transform-origin: center;
  transition: all 1s ease,
              border-width 0.5s ease-in;
}

.img-placeholder {
  position: relative;
  width: $photo-width;
  height: calc($photo-width * 4 / 3);
}

#bw-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  --tx: -210px;
  --ty: 0px;
  --rot: 8.53deg;
  --scale: 1.2;
  // translate(normalize(-210px), normalize(0px)) rotate(8.53deg) scale(1.2);
  // transform: $bw-wrapper-transform;
  border-width: normalize(4px);
  // animation-name: bw-wrapper-keyframes;
}

#bw-filter {
  position: absolute;
  transform-origin: center;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  --tx: 100px;
  --ty: -20px;
  --rot: -8.53deg;
  --scale: 0.9;
  // transform: $bw-filter-transform;
  // animation-name: bw-filter-keyframes;
}

#red-wrapper {
  --tx: 176px;
  --ty: -200px;
  --rot: 8.53deg;
  --scale: 1.2;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  // transform: $red-wrapper-transform;
  border-width: normalize(4px);
  // animation-name: red-wrapper-keyframes;
}

#red-filter {
  position: absolute;
  transform-origin: center;
  left: 0;
  top: 0;
  mix-blend-mode: darken;
  --tx: -80px;
  --ty: 183px;
  --rot: 2deg;
  --scale: 1.3;
  // transform: $red-filter-transform;
  // animation-name: red-filter-keyframes;
}

#red-placeholder {
  mix-blend-mode: darken;
  z-index: 100;
  background-color: #ff0000
  // animation-name: red-placeholder-keyframes;
}

#teal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  // animation-name: teal-wrapper-keyframes;
  --tx: 108px;
  --ty: 250px;
  --rot: 8.53deg;
  --scale: 1.2;
  // transform: $teal-wrapper-transform;
  border-width: normalize(4px);
}

#teal-filter {
  position: absolute;
  // animation-name: teal-filter-keyframes;
  transform-origin: center;
  left: 0;
  top: 0;
  mix-blend-mode: darken;
  --tx: -144px;
  --ty: -226px;
  --rot: -21deg;
  --scale: 1.3;
  // transform: $teal-filter-transform;
}

#teal-placeholder {
  // background-color: #00FFFF;
  background-color: #00FFFF;
  mix-blend-mode: darken;
  z-index: 100;
  // animation-name: teal-placeholder-keyframes;
}

.wrapped-wrapper {
  position:relative;
  width:100%;
  height:100%;
  overflow: hidden;
}